@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
html,
body
{
    font-family: 'Lato', sans-serif;
    margin:0;
    padding:0;
}

h1{
  font-size: 40px;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}

main {
  margin-top: 50px;
}

.produto-principal{
  display: flex;
  padding: 30px 10px;
}

.descricao-principal{
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.img-prod-principal{
  border-radius: 2%;
  width: 540px;
  height: 675px;
}

.bgcolor{
    background: rgb(228,176,227);
    background: linear-gradient(0deg, rgba(228,176,227,1) 2%, rgba(208,147,191,1) 35%, rgba(125,24,82,1) 100%);
}

.links {
  display: flex;
  justify-content: space-around;
	background-color: rgb(51, 17, 49);
	background-image: linear-gradient(to bottom, #0003, transparent);
	border-bottom: 1px solid #0003;
	box-shadow: 0 0 32px #0003;
	font-size: 2em;
	font-weight: 300;
  min-width: 100vw;
	position: relative;
  height: 50px;
}

.links > a {
	color: rgb(255, 170, 234);
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box;
  margin-block: auto;   
  box-sizing: border-box;         
	text-align: center;
	transition: all .5s;
}
.links > a:hover {
	background: #ffffff06;
	color: rgb(255, 170, 234);
}
.links > .line {
	background: rgb(255, 170, 234);
	height: 1px;
	pointer-events: none;
}

.colecao{
  text-align: center;
}

.produto{
  display: flex;
  max-width: 100%;
  flex-wrap: wrap;
  justify-content: start;
}

.card-produto{
  width: 20%;
  height: 400px;
  text-align: center;
  text-decoration: none;
}

.container-produto{
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.produto-img{
  border-radius: 5%;
  width:224px;
  height: 224px;
}

.main-img{
  width: 100%;
}

.links > .line {
	opacity: 0;
	transition: all .5s;
	position: absolute;
	bottom: 0;
	left: var(--left, calc(100% / var(--items) * (var(--index) - 1)));
	width: var(--width, calc(100% / var(--items)));
	--index: 0;
}
.links > a:hover ~ .line {
	opacity: 1;
}

.links > a:nth-of-type(1):hover ~ .line { --index: 1; }
.links > a:nth-of-type(2):hover ~ .line { --index: 2; }
.links > a:nth-of-type(3):hover ~ .line { --index: 3; }
.links > a:nth-of-type(4):hover ~ .line { --index: 4; }
.links > a:nth-of-type(5):hover ~ .line { --index: 5; }
.links > a:nth-of-type(6):hover ~ .line { --index: 6; }
.links > a:nth-of-type(7):hover ~ .line { --index: 7; }
.links > a:nth-of-type(8):hover ~ .line { --index: 8; }
.links > a:nth-of-type(9):hover ~ .line { --index: 9; }
.links > a:nth-of-type(10):hover ~ .line { --index: 10; }
.links > a:last-of-type:hover ~ .line { --index: var(--items); }


/* aqui é do footer */

.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.whatsapp:hover
{
  background-color:#007bb6
}
.social-icons a.instagram:hover
{
  background-color:#ea4c89
}

@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}