{% extends 'base.html' %}

{% block content %}

<div class="produto-principal">
     <img class = "img-prod-principal" src="../static/upload/prod_{{ product.prod_id }}.jpg" alt="{{ product.prod_name }}">
     <div class="descricao-principal">
          <h3 class="">{{ product.prod_name }}</h3>
          <p>{{ product.prod_description }}</p>
          <p class="">Preço: R${{ product.prod_price }}</p>
          <button class="button-add">curtir</button>
     </div>
</div>

<section class="container-produto">
     <h1 class="">Relacionados</h1>
     <div class = "produto">
          {% for product in products %}
          <a href="../product/{{ product.prod_id }}" class="card-produto">
               <img class = "produto-img" src="../static\upload\prod_{{ product.prod_id }}.jpg" alt="product.prod_name">
               <h3 class="">{{ product.prod_name }}</h3>
               <p class="">Preço: R${{ product.prod_price }}</p>
          </a>
          {% endfor %}
     </div>
</section>

{% endblock %}